<!doctype html>

<head>

	<title>BMI Calculator</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<h1><center>BMI Calculator</center></h1>

<body >

<div>
	<form class="pure-form" method="POST" action="/">
		<h2><center>Age in years:</center><br>
		<center><input type="text" name="age"></center><br>
		<center>Weight in kgs:</center><br>
		<center><input type="text" name="weight"></center><br>
		<center>Height in cms:</center><br>
		<center><input type="text" name="height"></center><br>
		<center><button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button></center>

	</form>
	</h2>
</div>

<br>

<div2>

	{% if bmi %}
	    <p>
        {% print("Your BMI is {}.".format(bmi)) %}
        </p>
	{% endif %}
</div2>

</body>