
.main {
	padding-left: 100px;
	padding-right: 100px;
	text-align: left;
    background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%)
}

h1 {
    display: block;
	text-align: center;
}

.centered-text {
	text-align: center;
}

th, td , table {
	width: 20%;
	border: 1px solid black;
	border-collapse: collapse;
}


.border {
	border: 1px solid black;
	border-collapse: collapse;
}